@{
    ViewBag.Title = "Good day with a yummy cake !!!";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/PageStyles.css">
</head>
<body id="home">

    <div class="container">

        <header style="margin-top:25px;">
            <h1><i><b>Love. Serve. Cherish...</b></i></h1>
        </header>

        <article>
            <button class="button" style="margin-top:-200px;" onclick="location.href='http://localhost:49813/Home/Order_Cake';")">
                <span>Gift Now... </span>
            </button>
        </article>

        <footer style="margin-top:-80px">
            <h2>| To get the full value of joy you must have someone to divide it with... |</h2>
        </footer>

    </div>
</body>
</html>